/* Google Font */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

/* Navbar */
header {
  background: #111;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
nav.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}
.logo span {
  color: #00bcd4;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}
nav ul li a:hover {
  color: #00bcd4;
}

/* Hero */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ebc7f4, #d76ecf);
  color: white;
  text-align: center;
  padding-top: 70px;
}
.hero h2 {
  font-size: 2rem;
}
.hero span {
  color: yellow;
}
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: white;
  color: #333;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}
.btn:hover {
  background: #333;
  color: white;
}

/* Sections */
.section {
  padding: 80px 20px;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}
.container {
  width: 90%;
  margin: auto;
}
.bg-light {
  background: #f9f9f9;
}
.bg-dark {
  background: #111;
  color: white;
  text-align: center;
}

/* Skills */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  margin-top: 150px;
}
.skill {
  background: #00bcd4;
  color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  transition: transform 0.3s;
}
.skill:hover {
  transform: scale(1.1);
}

/* Projects */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 90px;
  margin-bottom: 150px;
}
.project-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}
.project-card:hover {
  transform: translateY(-10px);
}
.project-card a {
  text-decoration: none;
  color: #2196f3;
  font-weight: bold;
}
.project-card a:hover {
  text-decoration: underline;
}

/* Contact */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: auto;
  
}
.contact-form input, .contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.contact-form button {
  background: #00bcd4;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.contact-form button:hover {
  background: #2196f3;
}

/* Footer */
footer {
  background: #000;
  color: #aaa;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}